@import "tailwindcss";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .task-item-enter {
    @apply transform translate-y-2 opacity-0;
  }
  
  .task-item-enter-active {
    @apply transform translate-y-0 opacity-100 transition-all duration-300;
  }
}